.container {
   border-radius: 5px;
   background-color: #f2f2f27c;
   padding: 20px;
  }
  .row {
   padding-top: 10px;
  }
  .col-5 {
   float: left;
   width: 5%;
   margin-top: 6px;
  }
  .lbl {
     text-align: right;
     display: block;
     padding: 0.5em 1.5em 0.5em 0;
  }

  .txtbox {
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 3%;
  }
  .alinea-btn{
    margin-left: 5%;
  }
  .btn {
    width: 28%;
    padding: 12px;
    cursor: pointer;
  }
  .cmbbox {
    width: 27%;
    padding: 12px;
    border: 1px solid #ccc;
  }
  .is-invalid {
   border: 1px solid #ff0000a6;
    }
  .text-danger {
   display: block;
     margin-left: 5%;
     padding-top: 2px;
     color: #ff0000a6;
  }
  
  .mueve-derecha {
     float: left;
      margin-right: 14px;
    }
    
  table {
       border-collapse: collapse;
       border-spacing: 0;
       width: 100%;
    }
    .tamano-tabla {
       width: 31.8%;
       height: 5%;
    }
    .color-cabecera {
       background-color: black;
       color: white;
    }
      
    .subrayado {
       border-bottom: 1px solid gray;
    }
    .txtbox-table {
         width: 90%;
         padding: 12px;
         border: 1px solid #ccc;
         border-radius: 4px;
         margin-top: 10px;
         margin-bottom: 10px;
    }
    .btn-danger {
       border: none;
       background-color: #bb0f0f;
       color: white;
       padding: 8px;
       cursor: pointer;
       border-radius: 9px;
       margin-left: 8px;
      }
                    
      .btn-add {
         border: none;
         background-color: cornflowerblue;
         color: white;
         width: 100%;
         padding: 8px;
         cursor: pointer;
      }
        